<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Employee</title>
</head>
<body>

<h1 style="color:red; text-align:center">Register Employee</h1>

<form th:action="@{/employee/emp_add}" th:object="${emp}" method="post">
    <table align="center" bgcolor="cyan">
        <tr>
            <td>Employee Name:</td>
            <td><input type="text" th:field="*{ename}" /></td>
        </tr>
        <tr>
            <td>Employee Designation:</td>
            <td><input type="text" th:field="*{job}" /></td>
        </tr>
        <tr>
            <td>Employee Salary:</td>
            <td><input type="number" th:field="*{sal}" step="0.01" /></td>
        </tr>
        <tr>
            <td>Department No:</td>
            <td><input type="number" th:field="*{deptno}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
            <td><input type="reset" value="Cancel" /></td>
        </tr>
    </table>
</form>

</body>
</html>
